{% extends 'cantina/header.html' %}
{% load materializecss %}

{% block body_style %}<body style="background-image: url(/static/img/fundo/{% get_rand %}.jpg); background-size: cover;">{% endblock %}

{% block nav %}
    <ul class="left">
        <li><a href="/entrar"><i class="material-icons">keyboard_backspace</i></a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="valign-wrapper" style="width:100%; height:100%; position: absolute; top:0px;">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card center-align">
                        <div class="card-content" id='aluno_entrar'>                           
                            <span class="card-title black-text">Senha trocada com sucesso</span>
                            <p>volte a tela de login e entre com sua nova senha</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="/entrar" class="btn amber accent-4">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}