body, html { overflow-x:hidden; }

#id_preco {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 35%;
}

#id_nome {
    text-align: center;
    margin-bottom: 0px;
}

.img_input:hover {
    cursor: pointer;
    opacity: 0.3;
}

.img_img_input{
    position: absolute;
    width: 65%;
    height: 65%;
    bottom: 0;
    right: 0;
    display: none;
    color: black;
}
.img_input:hover .img_img_input{
    display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.bt_excluir{
    margin-top: 5%; 
    position: absolute; 
    transform: translate(-50%, -80%);
}

.exc_men{
    background-color: transparent;
    box-shadow: none;
    transform: translate(-65%, -95%)
}
.exc_men:hover{
    background-color: transparent;
    box-shadow: none;
}
.exc_men:focus{
    background-color: transparent;
    box-shadow: none;
}

.pad{
    padding: 0 !important;
}

.square {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%;
    position: relative;
  }

.square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }